/.idea
# Игнорируем весь каталог plugins, но разрешаем шаблоны (tpl) внутри плагинов
/engine/plugins/*
!/engine/plugins/**/tpl/**
/engine/cache
/engine/backups/*.gz
/engine/conf/config.php
/engine/conf/plugdata.php
/engine/conf/plugins.php
/engine/conf/perm.php
/engine/conf/extras
/engine/trash/admin_note.inc.txt
/uploads
/vendor
# Игнорируем все темы, кроме перечисленных; рекурсивно включаем их содержимое
/templates/*
!/templates/default/**
!/templates/default2/**
# Добавьте при необходимости: !/templates/popsa2/**
.phpunit.result.cache
composer.lock
npm-debug.log
